<%= form_with(model: user, url: sign_up_path, data: { controller: "email-validation" }) do |form| %>
  <% if user.errors.any? %>
    <div>
      <% user.errors.each do |error| %>
        <p><%= error.full_message %></p>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :email, "Your email" %>
    <%= form.email_field :email, placeholder: "Email",
          data: {
            email_validation_target: "email",
            action: "blur->email-validation#validate input->email-validation#validate"
          } %>
    <div data-email-validation-target="message"></div>
  </div>

  <div>
    <%= form.label :name, "Your name" %>
    <%= form.text_field :name, placeholder: "Name" %>
  </div>

  <%= form.submit "Join the waiting list", data: { email_validation_target: "submit" } %>
<% end %>
